.messenger {
    height: calc(100vh-70px);  
    display: flex;  
}

.sidebar{
    flex: 1;
    border-right: 2px solid lightgrey;
}

.chatMenu{
    flex: 3.5;
    border-right: 2px solid lightgrey;
}
.chatMenuInput{
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;

}

.chatbox{
    flex: 12;
    border-right: 2px solid lightgrey;
}

.chatBoxWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.chatBoxTop{
    height: calc(82vh);
    overflow-y: scroll;
}

.chatBoxBottom{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10px;
}

.chatSubmit {
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    color: white;
}

.chatMessageInput {
    width: 80%;
    height: 90px;
    padding: 10px;
}



.profileDesc{
    flex: 4;
    position: relative;
    padding: 5px;
}

.profileHeader {
    font-weight: 500;
    font-size: x-large;
    position: absolute;
    margin-left: 5px;

    left: 0;
}

.activeConversation {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profileImg {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    margin-top: 50px;
}
.profileName{
    font-size: large;
    font-weight: 500;
}

.chatMenuWrapper, .chatBoxWrapper, .profileDescWrapper, .sidebarWrapper {
    padding: 10px;
    height: 100%;

}
